.rec-list .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: #f7f4ec;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-top-left-radius:45px ;
    border-top-right-radius:45px ;
    height: 50px;
    font-size: 20px;
    color: #635D5D;
  
  }
  
  
  .rec-list .active-tabs  {
    background: #FEFDF7;
    border-bottom: 1px solid transparent;
    box-shadow:rgba(0, 0, 0, 0.1) 13px 0px 20px;
    font-weight:900;
    color: #162641;
    
  }
  
  .rec-list.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    
  
  }
  .rec-list button {
    border: none;
    
  }
  .rec-list{
    background: #f7f4ec;
  }
  .rec-list .rec-listt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f7f4ec;
    align-items: center;
    height: 50px;
  
  
  }