.container-Editpasswd {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container-Editpasswd > form {
    display: flex ;
    flex-direction: column;
     width: 70%;
    border: 1px solid #dfdfdf;
    padding:0px 0px 25px 28px;
    border-radius: 20px;
    background: #FEFDF7;
    
  }
 
  .container-Editpasswd h3{
    font-size: 20px;
    color: #162641;
    text-align: left;
    
  }
  
  .container-Editpasswd .display{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-Editpasswd .input-info{
    display: flex ;
    flex-direction: column;
    text-align: left;
    width: 90%;
    position: relative;
    margin-bottom: 15px;  
  }
   .container-Editpasswd .input-info input{
    margin-top: 4px;
  height: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 12px;
    padding: 10px;
    background-color: #F6F2E6;
    color: #635D5D;  
  }
  .container-Editpasswd .btn-confirm{
    background-color: #C1DCAB;
    border: none;
    width: 45%;
    height: 35px;
    font-size: 16px;
    border-radius: 12px;
    font-weight:500;
    margin-top: 18PX;
    position: relative;
    left: 25%;
  }
  
